// $primary-color: purple;
// $primary-border: 2px solid $primary-color;
$primary-fontsize: 20px;

@mixin navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-inline-start: 0px;
  li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
    justify-content: center;
    margin: 10px;
    a {
      color: azure;
    }
  }
}

@mixin heading {
  display: grid;
  grid-area: h;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
}

@mixin background {
  margin: auto;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-repeat: no-repeat;
}

@mixin border-effect {
  background-color: #ffffff31;

  backdrop-filter: blur(12px);
  box-shadow: 0 0 5px 0;
}

@mixin image-border {
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
