// $primary-color: purple;
// $primary-border: 2px solid $primary-color;
$primary-fontsize: 20px;

@mixin navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-inline-start: 0px;
  li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    // border: $primary-border;
    // border: 2px solid white;
    // box-shadow: 0 0 5px 0;
    text-align: center;
    justify-content: center;
    // font-size: larger;
    // background-color: $primary-color;
    // font-size: $primary-fontsize;
    margin: 10px;
    a {
      color: azure;
    }
  }
}

@mixin heading {
  display: grid;
  grid-area: h;
  // border: 1px solid black;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
}

@mixin background {
  margin: auto;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-repeat: no-repeat;
}

@mixin border-effect {
  background-color: #ffffff31;
  // background-color: #ffffffbb;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 5px 0;
}

@mixin image-border {
  // width: 700px;
  // height: 450px;
  display: flex;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

// @mixin button-effect {
//   display: inline-block;
//   color: #fff;
//   text-decoration: none;
//   padding: 5px 10px;
//   border: 3px solid #3c67e3;
//   border-radius: 10px;
// }
