$xs: 576px; // Extra small
$sm: 768px; // Small
$md: 992px; // Medium
$lg: 1200px; // Large
$xl: 1400px; // Extra Large

@use "style";
@use "media";

html {
  @include style.background;

  h1 {
    @include style.heading;
  }

  nav {
    box-shadow: 0 0 5px 0;
  }

  .nav-bar {
    @include style.navbar;
  }

  h2 {
    @include style.heading;
    font-size: 30px;
  }

  form {
    display: grid;
    justify-content: center;
    align-items: center;
    .form-format {
      padding: 5px;
      display: inline-grid;
      grid-template-columns: 40%;
      justify-content: center;
      justify-items: center;
      background-color: #ffffff31;
      backdrop-filter: blur(12px);
      box-shadow: 0 0 5px 0;

      p {
        text-align: center;
      }
    }

    // phone
    @media only screen and (max-width: $xs) {
      img {
        width: 30vw;
        height: 50vw;
      }
      iframe {
        width: 30vw;
        margin: 15px;
      }
    }

    //tablet
    @media only screen and (min-width: ($xs + 1px)) and (max-width: $sm) {
      img {
        width: 45vw;
        height: 45vw;
      }
      iframe {
        width: 45vw;
        margin: 15px;
      }
    }

    //tablet landscape
    @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
      img {
        width: 45vw;
        height: 45vw;
      }
      iframe {
        width: 45vw;
        margin: 15px;
      }
    }

    //laptop
    @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
      img {
        width: 30vw;
        height: 45vw;
      }
      iframe {
        width: 30vw;
        margin: 15px;
      }
    }
  }
}

input {
  caret-color: blue;
  color: blue;
}

#comment {
  display: flex;
}
