html {
  margin: auto;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-repeat: no-repeat;
}
html h1 {
  display: grid;
  grid-area: h;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
}
html nav {
  box-shadow: 0 0 5px 0;
}
html .nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-inline-start: 0px;
}
html .nav-bar li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
html .nav-bar li a {
  color: azure;
}
html h2 {
  display: grid;
  grid-area: h;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
  font-size: 30px;
}
html form {
  display: grid;
  justify-content: center;
  align-items: center;
}
html form .form-format {
  padding: 5px;
  display: inline-grid;
  grid-template-columns: 40%;
  justify-content: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.1921568627);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 5px 0;
}
html form .form-format p {
  text-align: center;
}
@media only screen and (max-width: 576px) {
  html form img {
    width: 30vw;
    height: 50vw;
  }
  html form iframe {
    width: 30vw;
    margin: 15px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  html form img {
    width: 45vw;
    height: 45vw;
  }
  html form iframe {
    width: 45vw;
    margin: 15px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  html form img {
    width: 45vw;
    height: 45vw;
  }
  html form iframe {
    width: 45vw;
    margin: 15px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  html form img {
    width: 30vw;
    height: 45vw;
  }
  html form iframe {
    width: 30vw;
    margin: 15px;
  }
}

input {
  caret-color: blue;
  color: blue;
}

#comment {
  display: flex;
}
