$primary-fontsize: 20px;
@use "style";

html {
  @include style.background;

  h1 {
    @include style.heading;
  }

  nav {
    box-shadow: 0 0 5px 0;
  }

  h2 {
    @include style.heading;
    font-size: 30px;
  }

  .nav-bar {
    @include style.navbar;
  }

  body {
    margin: auto;
  }

  .image-container {
    display: grid;
    justify-content: space-around;
    img {
      width: auto;
      height: 800px;
    }
  }

  .container-explore {
    display: grid;
    // border: 2px solid black;
    margin: 20px;
    @include style.border-effect;
    p {
      margin: 5px;
    }
  }
}
