$xs: 576px; // Extra small
$sm: 768px; // Small
$md: 992px; // Medium
$lg: 1200px; // Large
$xl: 1400px; // Extra Large

@use "style";
@use "media";

html {
  @include style.background;

  h1 {
    @include style.heading;
  }
  nav {
    box-shadow: 0 0 5px 0;
  }

  .nav-bar {
    @include style.navbar;
  }

  h2 {
    @include style.heading;
    font-size: 30px;
    @include media.phone {
      font-size: 18px;
    }
    @include media.tablet {
      font-size: 20px;
    }
    @include media.tablet-landscape {
      font-size: 24px;
    }
    @include media.laptop {
      font-size: 30px;
    }
  }

  body {
    margin: auto;
    @include media.phone {
    }

    @include media.tablet {
    }

    @include media.tablet-landscape {
    }

    @include media.laptop {
    }
  }

  main {
    display: flex;
    justify-content: center;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    img {
      height: 400px;
      width: 400px;
      padding: 10px;
      border: 1px solid white;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

      img:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }

    // phone
    @media only screen and (max-width: $xs) {
      grid-template-columns: 1fr;
      img {
        width: 90vw;
      }
    }

    //tablet
    @media only screen and (min-width: ($xs + 1px)) and (max-width: $sm) {
      grid-template-columns: 1fr 1fr;
      img {
        width: 45vw;
      }
    }

    //tablet landscape
    @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
      grid-template-columns: 1fr 1fr;
      img {
        width: 45vw;
      }
    }

    //laptop
    @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
      grid-template-columns: 1fr 1fr 1fr;
      img {
        width: 30vw;
      }
    }
  }
}
