html {
  margin: auto;
  background-image: linear-gradient(to bottom, #a96f44, #bc8e5b, #cead76, #e0cc95, #f2ecb6);
}
html h1 {
  display: grid;
  grid-area: h;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
}
html nav {
  box-shadow: 0 0 5px 0;
}
html .nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-inline-start: 0px;
}
html .nav-bar li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  font-size: larger;
  font-size: 20px;
  margin: 10px;
}
html .nav-bar li a {
  color: azure;
}
html h2 {
  display: grid;
  grid-area: h;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
  font-size: 30px;
}
html body {
  margin: auto;
}
html main {
  display: flex;
  justify-content: center;
}
html main > .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
html main > .gallery > img {
  height: 400px;
  width: 400px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
html main > .gallery > img.hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
