h1 {
  display: grid;
  border: 1px solid black;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-inline-start: 0px;
}
.nav-bar li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border: 2px solid purple;
  text-align: center;
  justify-content: center;
  font-size: larger;
  background-color: purple;
  font-size: 20px;
}
.nav-bar li a {
  color: azure;
}

body {
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  border: 2px solid black;
}
.container--info {
  display: flex;
  padding: 20px;
  margin: 0px;
  border: 5px solid red;
  flex-direction: column;
}

iframe {
  display: flex;
  justify-content: space-around;
  margin: auto;
}
