$primary-fontsize: 20px;
$xs: 576px; // Extra small
$sm: 768px; // Small
$md: 992px; // Medium
$lg: 1200px; // Large
$xl: 1400px; // Extra Large

@use "style";
@use "media";

html {
  @include style.background;

  h1 {
    @include style.heading;
  }

  nav {
    box-shadow: 0 0 5px 0;
  }

  .nav-bar {
    @include style.navbar;
    @include media.phone;
  }

  h2 {
    @include style.heading;
    font-size: 30px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    img {
      @include style.image-border;
    }

    &--info {
      @include style.border-effect;
      display: flex;
      padding: 10px;
      margin: 10px;
      text-align: center;
      flex-direction: column;

      ul {
        text-align: left;
      }
    }

    // phone
    @media only screen and (max-width: $xs) {
      grid-template-columns: 1fr;
      a {
        font-size: 12px;
      }
      img {
        width: 90vw;
        height: 90vw;
      }
      iframe {
        width: 90vw;
        margin: 15px;
      }
    }

    //tablet
    @media only screen and (min-width: ($xs + 1px)) and (max-width: $sm) {
      grid-template-columns: 1fr 1fr;
      a {
        font-size: 16px;
      }
      img {
        width: 45vw;
        height: 45vw;
      }
      iframe {
        width: 45vw;
        margin: 15px;
      }
    }

    //tablet landscape
    @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
      grid-template-columns: 1fr 1fr;
      a {
        font-size: 16px;
      }
      img {
        width: 45vw;
        height: 45vw;
      }
      iframe {
        width: 45vw;
        margin: 15px;
      }
    }

    //laptop
    @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
      grid-template-columns: 1fr 1fr;
      a {
        font-size: 20px;
      }
      img {
        width: 50vw;
        height: 45vw;
      }
      iframe {
        width: 50vw;
        margin: 15px;
      }
    }

    .map {
      margin: 15px;
      display: flex;
      justify-content: center;
    }
  }
}
