$primary-fontsize: 20px;
@use "style";

html {
  @include style.background;

  h1 {
    @include style.heading;
  }

  nav {
    box-shadow: 0 0 5px 0;
  }

  .nav-bar {
    @include style.navbar;
  }

  h2 {
    @include style.heading;
    font-size: 30px;
  }

  body {
    margin: auto;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    // border: 2px solid black;

    &--info {
      display: flex;
      padding: 20px;
      margin: 0px;
      // border: 5px solid red;
      flex-direction: column;
    }
  }

  iframe {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
}
