h1 {
  display: grid;
  grid-area: h;
  border: 1px solid black;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 2px solid purple;
  text-align: center;
  font-size: larger;
  background-color: purple;
}

nav {
  display: grid;
  grid-area: n;
}

li {
  display: inline;
  border: 2px solid purple;
  /* grid-area: n; */
}

a {
  color: azure;
}

.summary {
  display: grid;
  grid-area: p;
  border: 2px solid black;
}

.image-home {
  width: 20px;
  height: 20px;
  display: grid;
  grid-area: i;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "h h h h"
    "n n n n"
    "p p i i"
    "p p i i";
}
