$primary-fontsize: 20px;
$xs: 576px; // Extra small
$sm: 768px; // Small
$md: 992px; // Medium
$lg: 1200px; // Large
$xl: 1400px; // Extra Large

@use "style";
@use "media";

html {
  @include style.background;

  body {
    margin: auto;

    h1 {
      @include style.heading;
    }

    nav {
      box-shadow: 0 0 5px 0;

      .nav-bar {
        @include style.navbar;
        @include media.phone;
      }
    }

    .container {
      display: flex;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      justify-content: space-between;
      flex-wrap: wrap;
      justify-content: center;

      .summary {
        margin: 10px;
        padding: 10px;
        font-size: $primary-fontsize;
        display: flex;
        align-items: flex-start;
        grid-area: s;
        justify-content: center;
        @include style.border-effect;
      }

      .image1 {
        display: flex;
        align-items: flex-end;
        grid-area: i;
        @include style.image-border;
      }

      .image2 {
        display: flex;
        grid-area: ie;
        @include style.image-border;
      }

      .summaryextra {
        margin: 10px;
        padding: 10px;
        font-size: $primary-fontsize;
        display: flex;
        grid-area: pe;
        @include style.border-effect;

        p {
          display: flex;
        }
      }

      // phone
      @media only screen and (max-width: $xs) {
        grid-template-rows: 1fr 1fr 1fr 1fr;

        p {
          font-size: 12px;
        }

        img {
          width: 90vw;
          height: 90vw;
        }
      }

      //tablet
      @media only screen and (min-width: ($xs + 1px)) and (max-width: $sm) {
        grid-template-columns: 1fr 1fr;

        p {
          font-size: 16px;
        }

        img {
          width: 45vw;
          height: 45vw;
        }
      }

      //tablet landscape
      @media only screen and (min-width: ($sm + 1px)) and (max-width: $md) {
        grid-template-columns: 1fr 1fr;

        p {
          font-size: 16px;
        }

        img {
          width: 45vw;
          height: 45vw;
        }
      }

      //laptop
      @media only screen and (min-width: ($md + 1px)) and (max-width: $lg) {
        grid-template-columns: 1fr 1fr 1fr;

        p {
          font-size: 18px;
        }

        img {
          width: 30vw;
          height: 45vw;
        }
      }
    }
  }
}
