$primary-fontsize: 20px;
@use "navbar";

h1 {
  display: grid;
  grid-area: h;
  border: 1px solid black;
  text-align: center;
  font-family: "Grape Nuts", cursive;
  font-size: 50px;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding-inline-start: 0px;
  // grid-area: n;
  li {
    @include navbar.navbar;
    font-size: $primary-fontsize;
    a {
      color: azure;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-template-areas: "s i";

  &--summary {
    margin: 10px;
    padding-top: 5px;
    font-size: $primary-fontsize;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    // grid-area: p;
    border: 2px solid black;
    align-items: flex-start;
    grid-area: s;
    justify-content: center;
  }
  .image-home {
    width: 750px;
    height: 470px;
    display: flex;
    align-items: flex-end;
    grid-area: i;
  }
}

.container-extra {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  grid-template-areas: "ie pe";
  .image-extra {
    width: 700px;
    height: 450px;
    display: flex;
    grid-area: ie;
  }
  .summary-extra {
    margin: 10px;
    padding: 5px;
    font-size: $primary-fontsize;
    display: flex;
    border: 2px solid black;
    grid-area: pe;
    p {
      display: flex;
    }
  }
}
// body {
//   display: grid;
//   grid-template-columns: 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   grid-template-areas:
//     "h h h h"
//     "n n n n"
//     "p p i i"
//     "p p i i";
// }
